/ConsoleAliensGame/build/
/ConsoleAliensGame/dist/
/AlienInterfaces/nbproject/private/
/AlienInterfaces/dist/
/AlienInterfaces/build/
/StockAliens/nbproject/private/
/StockAliens/dist/
/StockAliens/build/
/StockAliens/nbproject/genfiles.properties
/AlienInterfaces/nbproject/build-impl.xml
/ConsoleAliensGame/nbproject/build-impl.xml
/StockAliens/nbproject/build-impl.xml
/ConsoleAliensGame/nbproject/genfiles.properties