/ConsoleAliensGame/build/
/ConsoleAliensGame/dist/
/AlienInterfaces/nbproject/private/
/AlienInterfaces/dist/
/AlienInterfaces/build/
/StockAliens/nbproject/private/
/StockAliens/dist/
/StockAliens/build/